@use 'constants' as *;

.back-button {
    text-decoration: none;
    color: #333;

    &:hover {
        color: #000;
    }
}

.task-description {
    margin-top: 4rem;
}

.badge.bg-secondary {
    margin-left: 1.4rem;
    height: 32px;
}

.edit-button {
    font-size: 0.85rem;
}

.description-textarea {
    width: 100%;
    min-height: 200px;
    font-family: monospace;
}

.comments-section {
    border-top: 1px solid #{$gray};
    margin-top: 6rem;
    padding-top: 2rem;
}
