<div class="container py-4">
  <button
    type="button"
    class="btn btn-link p-0 mb-4 back-button"
    (click)="goBack()"
  >
    <i class="fa-solid fa-arrow-left fa-2x"></i>
  </button>

  @if ((node$ | async); as node) {
    
    <div class="d-flex align-items-center">
      <h1>{{ node.title }}</h1>
      <span class="badge bg-secondary">{{ node.type }}</span>  
    </div>

    <hr>

    @if (node.description) {
      <div class="task-description" [innerHTML]="renderMarkdown(node.description)"></div>
    }
  }
</div>
