.back-button {
    text-decoration: none;
    color: #333;

    &:hover {
        color: #000;
    }
}

.task-description {
    margin-top: 4rem;
}

.badge.bg-secondary {
    margin-left: 1.4rem;
    height: 32px;
}